
		*
		{
			box-sizing: border-box;
		}

		@font-face{font-family:'Raleway';font-style:normal;font-weight:400;src:local('Raleway Regular'),url(//brick.a.ssl.fastly.net/fonts/raleway/400.woff) format('woff')}@font-face{font-family:'Raleway';font-style:normal;font-weight:700;src:local('Raleway Bold'),url(//brick.a.ssl.fastly.net/fonts/raleway/700.woff) format('woff')}

		@font-face
		{
			font-family: 'Droid Sans Mono';
			font-style: normal;
			font-weight: 400;
			src: local('Droid Sans Mono'), local('DroidSansMono'), url(http://themes.googleusercontent.com/static/fonts/droidsansmono/v5/ns-m2xQYezAtqh7ai59hJaH0X__W3S3MJL29bc5CWfs.woff) format('woff');
		}

		@font-face{font-family:'Lato';font-style:normal;font-weight:400;src:local(''),url(//brick.a.ssl.fastly.net/fonts/lato/400.woff) format('woff')}@font-face{font-family:'Lato';font-style:normal;font-weight:700;src:local(''),url(//brick.a.ssl.fastly.net/fonts/lato/700.woff) format('woff')}

		body
		{
			font-family: 'Lato', Arial, sans-serif;
			color: #fff;
			background-color: #0e83cd;
			margin: 0;
			transition: background-color 2s;
		}

		h1,
		h2,
		h3
		{
			font-family: 'Raleway', Arial;
		}

		.wrapper
		{
			max-width: 85%;
			margin: auto;
			padding: 20px;
		}

		.title
		{
			font-size: 4em;
			text-align: center;
			vertical-align: top;
			padding: 0;
			margin: 0;
			height: 100px;
			line-height: 125px;
		}

		tr
		{
			padding: 5px;
		}

		td
		{
			color: rgba(255, 255, 255, 0.8);
			padding: 5px;
			font-size: 0.7em;
			text-align: left;
			margin: 5px;
			min-width: 90px;
			/*border: 1px solid rgba(255, 255, 255, 0.5);*/
			transition: all 0.2s;
		}

		td[title]
		{
			border: 1px solid rgba(255, 255, 255, 0.1);
		}

		td[title]:hover
		{
			border: 1px solid rgba(255, 255, 255, 0.0);
			cursor: pointer;
			color: rgba(255, 255, 255, 1);
			background-color: rgba(255, 255, 255, 0.3);
		}

		table
		{
			margin: auto;
		}

		td > a
		{
			padding: 5px 0;
			color: rgba(255, 255, 255, 1);
			font-size: 2.2em;
			text-align: center;
			display: block;
		}

		td > small
		{
			font-size: 0.7em;
			text-align: right;
			display: block;
		}

		td > a
		{
			display: block;
		}

		header,
		footer
		{
			background-color: rgba(0, 0, 0, 0.1);
			/*height: 180px;*/
			border-bottom: 1px solid rgba(255,255,255, 0.2);
		}

		header h1 > img
		{
			height: 120px;
			opacity: 1;
		}

		footer
		{
			position: absolute;
			bottom: 0px;
			left: 0px;
			right: 0px;
			border-top: 1px solid rgba(0 ,0 ,0 , 0.2);
		}

		a > b > small
		{
			font-size: 0.4em;
			text-transform: uppercase;
		}

		footer p
		{
			text-align: center;
			text-transform: uppercase;
			opacity: 0.6;
			font-size: 0.8em;
		}

		@media screen and (max-width: 1900px) {
			
			tr
			{
				padding: 5px;
			}

			td
			{
				color: rgba(255, 255, 255, 0.8);
				padding: 5px;
				font-size: 0.6em;
				text-align: left;
				margin: 5px;
				min-width: 60px;
			}

			body
			{
				background-color: #636994;
			}
		}



		@media screen and (max-width: 1420px) {


			body
			{
				background-color: #72559E;
			}

			.title
			{
				font-size: 3em;
				margin-bottom: 20px;
			}
			
			tr
			{
				padding: 2px;
			}

			td
			{
				color: rgba(255, 255, 255, 0.8);
				padding: 0px;
				font-size: 0.5em;
				text-align: left;
				min-width: auto;
			}

			.wrapper
			{
				max-width: 100%;
				margin: 0;
				padding: 0px;
			}

			table
			{
				margin-top: 20px;
			}
		}


		@media screen and (max-width: 1150px) {


			body
			{
				background-color: #98559E;
			}

			td {
				color: rgba(255, 255, 255, 0.8);
				padding: 3px;
				display: inline-block;
				font-size: 2em;
				text-align: left;
				padding: 0px 0px 15px 15px;
				min-width: 100%;
				margin: 0;
				border-top: 1px solid #fff;
				transition: all 0.2s;
			}

			footer
			{
				position: static;
				bottom: 0px;
				left: 0px;
				right: 0px;
				border-top: 1px solid rgba(0 ,0 ,0 , 0.2);
			}

			td[colspan]
			{
				display: none;
			}

			tr,
			td[title],
			td[title]:hover
			{
				border: none;
				border-top: 1px solid rgba(255,255,255,0.2);
			}

			tr > td + tr > td,
			tr > td[title] + tr > td[title]
			{
				border-top: 1px solid #fff;
			}


		a > b > small
		{
			font-size: 2em;
			text-transform: uppercase;
		}



		td > a
		{
			padding: 5px 0;
			color: rgba(255, 255, 255, 1);
			font-size: 1.2em;
			text-align: center;
			display: block;
		}

		td > small
		{
			font-size: 0.7em;
			margin: 15px 15px 0 0;
			text-align: right;
			display: block;
		}

		}

		@media screen and (max-width: 900px) {


			body
			{
				background-color: #9E5555;
			}

			.title
			{
				font-size: 2em;
			}
		}


		@media screen and (max-width: 660px) {


			body
			{
				background-color: #757924;
			}

			.title
			{
				font-size: 1.3em;
			}

			.title > img
			{
				display: none;
			}

			td
			{
				font-size: 1.2em;
			}
		}